@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body{
    background-color: #f9f9f9;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

:root{
    --primary-color: #c4170c;
}