#asides{
    grid-column: 2;
    width: 400px;
    max-height: 200px;
    padding: 12px;
    margin: 10px 0 10px 10px;
    background-color: #fff;
    border-radius: 5px; 
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 2px 5px #ccc;
    visibility: hidden;
}
