header{
    display: block;
    position: fixed;
    width: 100%;
    color: white;
    height: 65px;
    padding: 12px;
    background-color: var(--primary-color);
}

#headerContent{
    margin: auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
#headerContent p{
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}
#headerContent img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    margin-top: 8px;
    cursor: pointer;
}
#headerContent #search{
   width: 130px;
   height: 35px;
   margin: 5px;
   background-color: rgba(0, 0,0, .15);
   display: flex;
   align-items: center;
   border-radius: 3px;
   transition: .2s;

}
#search p{
    flex: 1;
    text-align: center;
    font-size: 15px;
}
#search input{
    flex: 5;
    height: 100%;
    padding: 5px;
    outline: none;
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
    -webkit-text-fill-color: #fff;
}
/*
* NAVBAR
*/
#navBar{
    overflow-y: hidden;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: #ccc 0 2px 5px;
    transition: .2s;

}
.navBarToggle{
    visibility: hidden; 
    width: 0;
    height: 0;  
}

.navBarToggle2{
    visibility: visible;
    width: 220px;
    height: 350px;
}

#navBar p{
    margin: 30px 0;
    font-weight: bold; 
} 
#navBar p{
    font-size: 1.1rem;
    padding: 0 22px;
    width: 100%;
    color: var(--primary-color);
    cursor: pointer;
    transition: .2s;
}
#navBar p:hover{
    font-size: 1.15rem;
    opacity: .8;
}

@keyframes navBarAnimate{
    from{
        width: 0;
        height: 0;
    }
}