.container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}
#slideShow{
    grid-column: 1/3;
    margin-top: 65  px;
    width: 100%;
    height: 560px;
    background-color: #111;
}
/*
*
* POSTS
*
*/
main{
    grid-column: 1/2;
    padding: 12px -50px;
    margin: 10px 0;
    width: 770px;
    height: 100%;
}
.postWrap{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    border-bottom: 1px solid #ccc;
}
.postWrap #imgPost{
    margin: 10px;
    margin-left: 0;
    width: 360px;
    height: 212px;
    overflow: hidden;
}
.postWrap #textPost{
    width: 420px;
    color: #333;
    padding: 10px;
}
.postWrap #textPost h1{
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0;
    cursor: pointer;
}
.postWrap #textPost #date{
    font-size: 14px;
    font-weight: bold;
    margin-top: 16px;
}

#asides{
    grid-column: 2;
    width: 400px;
    padding: 12px;
    margin: 10px 0 10px 10px;
    background-color: #fff;
    border-radius: 5px; 
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 2px 5px #ccc;
}


