.container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

#topNews{
    grid-column: 1/3;
    margin-top: 100px;
    margin-bottom: 20px;
    height: 620px;
    display: flex;
}
.newsWrap{
    margin: 10px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    overflow: hidden; 
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 2px 5px #ccc;
}
.big{
    width: 50%;
}
.big .contentNews{
    color: #333;
    justify-content: flex-start;
}
.big .contentNews #category{
    margin-bottom: 120px;
    font-weight: bold;
}
.big .contentNews h1{
    font-size: 40px;
    line-height: 45px;
    color: var(--primary-color);
    margin: 20px 0;
}
.big .newsWrap{
    background: #fff;
    color: #ccc;
}
.little{
    width: 50%;
    display: inline-flex;
    flex-direction: column;
}
.little .contentNews{
    background-color: rgba(0, 0,0, .5);
    color: #fff;
}
.contentNews{    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px; 
}
/*
*
* POSTS
*
*/
#main{
    grid-column: 1/2;
    padding: 12px -50px;
    margin: 10px 0;
    width: 770px;
    height: 100%;
}
.postWrap{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    border-bottom: 1px solid #ccc;
}
.postWrap #imgPost{
    margin: 10px;
    margin-left: 0;
    width: 360px;
    height: 212px;
    overflow: hidden;
    cursor: pointer;
}
.postWrap #textPost{
    width: 420px;
    color: #333;
    padding: 10px;
}
.postWrap #textPost h1{
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0;
    cursor: pointer;
}
.postWrap #textPost #time{
    font-size: 14px;
    margin-top: 10px;
}

#asides{
    grid-column: 2;
    width: 400px;
    padding: 12px;
    margin: 10px 0 10px 10px;
    background-color: #fff;
    border-radius: 5px; 
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 2px 5px #ccc;
}


