#container{
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 2%;
    height: 100%;
}

.content-head{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px gray solid;
}

.content-head h1{
    color: var(--primary-color);
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2.5px;
    text-align: left;
}

.content-head p{
    color: #555;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: left;
    padding-bottom: 20px;
    margin: 20px 0;
}

.content-text{
    max-width: 680px;
    height: 100%;
    margin: 0 auto;
}

.content-text strong{
    color: var(--primary-color);
    font-size: 1.4rem;
}

.content-text p{
    font-weight: 400; 
    font-size: 1.25rem; 
    line-height: 2rem; 
    max-width: 42.5rem; 
    width: 680px; 
    color: #333;
    margin-top: 30px;
}

.content-text a{
    text-decoration: none;
}

.content-text a p{
    color: var(--primary-color);
    opacity: .5;
    font-weight: bold;
    transition: .2s;
    text-align: center;
}
.content-text a p:hover{ 
    font-size: 21px;
    opacity: 1;
}

.content-text img{
    width: 100%;
    margin-top: 20px;
}




